.Container {
    background-color: rgba(148, 151, 149, 0.1);
    padding: 55px;
    max-width: 1400px;
    min-height:820px;
    margin:0 auto;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 36px 14px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 36px 14px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 36px 14px rgba(0, 0, 0, 0.25);
}